.image-container {
    position: relative;
    width: 500px;
    height: auto;
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#reset-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#custom-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#custom-popup.hidden {
    display: none;
}

#custom-popup p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

#close-btn {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
